// ! ЦВЕТА
$darkGray: #404040;
$gray: #938B8B;
$lightGray: #EAE2E2;
$lemon: #F8F3E1;
$veryLightGray: #F2F2F2;

// Hover цвета
$darkGrayHover: #626161;
$grayHover: #A59F9F;
$lightGrayHover: #F6F1F1;
$lemonHover: #F1EDE0;
$veryLightGray: #E8E7E7;
$whiteHover: #F8F8F8;

// fonts
@font-face {
  font-family: "ubuntu";
  src: url("~assets/fonts/ubuntu/Ubuntu-R.ttf") format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "ubuntuLight";
  src: url("~assets/fonts/ubuntu/Ubuntu-L.ttf") format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "ubuntuItalic";
  src: url("~assets/fonts/ubuntu/Ubuntu-RI.ttf") format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "rubik";
  src: url("~assets/fonts/rubik/Rubik-Regular.ttf") format("truetype");
  font-display: fallback;
}
